@import "colors";

.resume-navbar {
  display: none;
  flex-direction: column;
  z-index: 9999;
  width: 200px;
  height: 100%;
  background-color: $textColorName;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */

  .navbar-element {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
  }


  .navbar-image {

  }

  .navbar-element {

  }

}
